html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color:#fff;
    background: linear-gradient(-20deg, #7de72b, #0e1c3c, #0e1c3c, #7de72b);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    min-height: 100vh;
    position: relative;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.jumbotron {
    background: none;
    border-bottom: 1px solid #fff;
}


h1 {
    text-align: center;
}

p.lead {
    text-align: center;
}

button {
    background: none; 
    border: 1px solid #fff;
    color: white;
    padding: 5px;
    margin: 5px;
  
}

button:hover {
    
    background: #fff;
    color: #0e1c3c;
    display: inline-block;
} 

/* .row {
    display: flex;
    flex-wrap: wrap;
} */


img {
    border: 1px solid #fff;
}

img:hover {
    border: 5px solid #fff;
}
/* .imgPoster {
    border:1px solid #fff;
} */

#buttonOptions {
    float: left;
    
    
}

#moviePoster {
    float: left;
}

#genreButtons {
    float: left;
}

.form-control {
    background: none;
}

button #resetButton {
    margin-right: 20px;
}

#mainContainer {
    align-content: center;
}

#zipCodeForm{
    /* float: left; */
}

/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 100px;
    padding: 5px;
} */

 #sticky-footer {
    width:100%;
    margin: auto;
    text-align: center;
    height: 20px;
    margin-top: 300px;
    padding: 10px;
} 



#diffMovies {
    margin: 5px;
    margin-right: 5px;

}