html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color:#fff;
    background: linear-gradient(-20deg, #7de72b, #0e1c3c, #0e1c3c, #7de72b);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    min-height: 100vh;
    position: relative;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.jumbotron {
    background: none;
    border-bottom: 1px solid #fff;
}


h1 {
    text-align: center;
}

p.lead {
    text-align: center;
}

button {
    background: none; 
    border: 1px solid #fff;
    color: white;
    padding: 5px;
    margin: 5px;
  
}

button:hover {
    
    background: #fff;
    color: #0e1c3c;
    display: inline-block;
} 

/* .row {
    display: flex;
    flex-wrap: wrap;
} */


img {
    border: 1px solid #fff;
}

img:hover {
    border: 5px solid #fff;
}
/* .imgPoster {
    border:1px solid #fff;
} */

#buttonOptions {
    float: left;
    
    
}

#moviePoster {
    float: left;
}

#genreButtons {
    float: left;
}

.form-control {
    background: none;
}

button #resetButton {
    margin-right: 20px;
}

#mainContainer {
    align-content: center;
}

 #sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
} 

@media only screen and (max-width: 767px){
    footer {
    background-color: #000;
    color: #FFFFFF;
    font-size:.8em;
    margin-top:25px;
    padding-top: 15px;
    padding-bottom: 10px;
    position:static;
    left:0;
    bottom:0;
    width:100%;

#zipCode {
    margin-right: 20px;
    margin-left: 20px;
}

#movieOnlineLocation {
    margin-left: 20px;
}

p {
    padding: 5px;

.imgPoster {
    margin-left: 5px;